<a href="https://colab.research.google.com/github/meghadandapat/JavaScript/blob/main/Heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Heart.csv')

In [4]:
df

     Unnamed: 0  Age  Sex     ChestPain  ...  Slope   Ca        Thal  AHD
0             1   63    1       typical  ...      3  0.0       fixed   No
1             2   67    1  asymptomatic  ...      2  3.0      normal  Yes
2             3   67    1  asymptomatic  ...      2  2.0  reversable  Yes
3             4   37    1    nonanginal  ...      3  0.0      normal   No
4             5   41    0    nontypical  ...      1  0.0      normal   No
..          ...  ...  ...           ...  ...    ...  ...         ...  ...
298         299   45    1       typical  ...      2  0.0  reversable  Yes
299         300   68    1  asymptomatic  ...      2  2.0  reversable  Yes
300         301   57    1  asymptomatic  ...      2  1.0  reversable  Yes
301         302   57    0    nontypical  ...      2  1.0      normal  Yes
302         303   38    1    nonanginal  ...      1  NaN      normal   No

[303 rows x 15 columns]

In [10]:
shape = df.shape

In [12]:
print('The shape of dataframe is', shape)

The shape of dataframe is (303, 15)

In [13]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [14]:
df.dtypes['Age']

dtype('int64')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [16]:
df.isnull()

     Unnamed: 0    Age    Sex  ChestPain  ...  Slope     Ca   Thal    AHD
0         False  False  False      False  ...  False  False  False  False
1         False  False  False      False  ...  False  False  False  False
2         False  False  False      False  ...  False  False  False  False
3         False  False  False      False  ...  False  False  False  False
4         False  False  False      False  ...  False  False  False  False
..          ...    ...    ...        ...  ...    ...    ...    ...    ...
298       False  False  False      False  ...  False  False  False  False
299       False  False  False      False  ...  False  False  False  False
300       False  False  False      False  ...  False  False  False  False
301       False  False  False      False  ...  False  False  False  False
302       False  False  False      False  ...  False   True  False  False

[303 rows x 15 columns]

In [18]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [21]:
df['Age'].mean()

54.43894389438944